*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f7f7f7, #ececec);
    color: #61999f;
}

header{
    width: 90%;

    margin: 20px auto;

    padding: 25px 50px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: #4b3621;

    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.logo img{
    width: 70px;
    height: 70px;
}

nav a{
      text-decoration: none;

    color: white;

    margin-left: 25px;

    font-weight: bold;

    font-size: 18px;

    transition: 0.3s;
}

nav a:hover{
    color: darkorange;
}

.hero{
    width: 90%;
    height: 300px;
    margin: auto;
    border: 2px solid black;
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.rooms-preview{
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.room-card{
    background-color: white;
    border: 2px solid black;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.room-card:hover{

    transform: translateY(-10px);

    box-shadow: 0 15px 30px rgba(0,0,0,0.2);

    cursor: pointer;

}

.room-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.room-card h3{
    margin-top: 10px;
}

.room-card p{
    margin-top: 5px;
}

footer{
      width: 90%;

    margin: 40px auto;

    padding: 50px;

    background-color: #222;

    color: white;

    text-align: center;

    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

footer p{
    color: #c59d5f;

    font-size: 22px;
}

.about-section{
    width: 90%;

    margin: 70px auto;

    display: flex;

    justify-content: space-between;

    gap: 40px;
}

.about-card{
    flex: 1;

    background: white;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    transition: 0.3s;

    border-top: 6px solid #c59d5f;
}

.about-card:hover{
    transform: translateY(-10px);

    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.about-card h2{
    color: #4b3621;

    font-size: 40px;

    margin-bottom: 20px;
}

.about-card p{
    color: #666;

    line-height: 1.8;

    font-size: 20px;
}

@media(max-width:768px){

    .about-section{
        flex-direction: column;
    }

    .about-card{
        width: 100%;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a{
        margin: 10px;
    }

    header{
        flex-direction: column;
    }
}

.booking-title{

    text-align: center;

    font-size: 60px;

    color: #4b3621;

    margin-top: 50px;

    margin-bottom: 40px;

    letter-spacing: 2px;
}

.booking-section{

    display: flex;

    justify-content: center;

    align-items: center;

    margin-bottom: 80px;
}

.booking-form{

    width: 450px;

    background-color: white;

    padding: 50px;

    border-radius: 25px;

    box-shadow: 0 15px 35px rgba(0,0,0,0.15);

    border-top: 8px solid #c59d5f;
}

button{

    width: 100%;

    padding: 15px;

    background: linear-gradient(to right, #c59d5f, #a67c52);

    color: white;

    border: none;

    border-radius: 12px;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{

    transform: translateY(-5px);

    background: linear-gradient(to right, #4b3621, #2f1e12);

    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}